body {
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    top: 8%;
}

a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

#upload-container {
    position: absolute;
    text-align: center;
    height: 200px;
    max-height: 30vh;
    top: 60%;
    border: 3px dashed white;

    max-width: 800px;
    width: 80%;
    left: 50%;
    transform: translate(-50%);
}

#upload-text {
    font-size: 18px;
    pointer-events: none;
    margin: 40px 15px 0px 15px;
}

#upload-file {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#about-text {
    position: absolute;
    top: 60%;
    width: 30%;
    left: 35%;
}

#footer {
    font-size: 12px;
    position: fixed;
    bottom: 8px;
    left: 8px;
}

